* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
}

body {
  margin-top: 50px;
  font-weight: bolder;
  font-size: 3rem;
}

h1 {
  color: white;
  font-size: 3rem;
}

div {
  max-width: 70%;
  margin: auto;
  background-color: black;
  padding: 50px 10px;
  border: none;
  box-shadow: 10px 0px 30px 40px rgb(0, 0, 0);
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #00ffff;
  margin-top: 30px;
  font-weight: bolder;
}

input {
  border: none;
  padding: 10px 20px;
}

input:focus {
  outline: none;
  border: none;
}

p {
  color: red;
  margin-top: 40px;
}